*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dee2e7;
    font-family: system-ui;
}
/* ------------------------------ Start NavBar */
.navbar .icons svg{
    margin: 10px;
}

/* ----------------- Start Slider */
.slider{
    margin-top: 40px;
}

.slider img{
    border-radius: 30px;
    width: 100%;
    position: relative;
}
.slider .carousel-indicators{
    bottom: -70px;
}
.carousel-dark .carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    max-width: 100%;
    border-radius: 25px;
    border: 8px solid #fff;
}
.carousel-caption {
    padding: 15px;
}
.slider .icons_Stars{
    color: yellow;
}
.slider .slider-btn{
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    padding: 6px 40px;
    text-decoration: none;
    font-size: 18px;
}
.slider .slider-btn:hover{
    opacity: 0.5;
}
@media (min-width:991px) {
    .carousel-item{
        width: 80% !important;
    }
    .carousel-caption {
        right: -20%;
        bottom: 15%;
        left: inherit;
    }
    .carousel-dark .carousel-caption {
        background: #19283f;
        color: #fff;
        max-width: 300px;
        border: 8px solid #fff;
    }
}
@media (max-width:767px) {
    .slider h5{
        font-size: 18px;
    }
    .slider p{
        font-size: 15px;
    }
}
@media (max-width:576px) {
    .carousel-caption {
        padding: 10px 15px;
        bottom: 0.25rem;
    }
    .slider h5{
        font-size: 13px;
    }
    .slider p{
        font-size: 10px;
    }
    .slider svg{
        font-size: 13px;
    }
    .slider .slider-btn{
        border-radius: 4px;
        padding: 2px 30px;
        font-size: 14px;
    }
    .carousel-dark .carousel-caption {
        border: 4px solid #fff;
        border-radius: 15px;
    }
}
/* ------------ Start article */
.article {
    margin-top: 50px;
}
.article .text{
    background-color: #fff;
    border-radius: 10px;
}
.article .text p{
    font-size: 13px;
}
/* -------- Start section */
.section{
    position: relative;
    background: url("../img/banner.jpg") no-repeat;
    background-size: cover;
}
.section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    /* z-index: -1; */
}
.section .text{
    position: relative;
}
.section a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 5px;
    background-color: #fd7e14;
}



/* --------- Start Title */
.title .box img{
    margin-bottom: -80px;
    border-radius: 15px;
}
@media (max-width:767px) {
    .title img:first-child{
        margin-top: 20px;
    }
    .title img:last-child{
        margin-bottom: 20px;
    }
}
.title .box{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}
.title a{
    background-color: crimson;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.title a:hover{
    opacity: 0.7;
}


/* --------------Start Footer */
.footer{
    background-color: #fff;
}
.footer .towBox,
.footer .oneBox{
    border-bottom: 1px solid #aaa;
}
.footer a{
    text-decoration: none;
    color: #333;
}
.footer span{
    color: #444;
}